
<!--Some of this HTML is directly from Pavilion.  You can change it to whatever you want if you want to mimic this design.-->
<footer class="flex-rw">
  
  <ul class="footer-list-top">
    <li>
      <h4 class="footer-list-header">Useful links</h4></li>
    <li><a routerLink='' class="generic-anchor footer-list-anchor">HOME</a></li>
    <li><a routerLink='data-science-courses-in-bangalore' class="generic-anchor footer-list-anchor">Courses</a></li>
    <li><a routerLink='data-science-courses-in-bangalore/contact-us' class="generic-anchor footer-list-anchor">Contact Us</a></li>
    
  </ul>
  <ul class="footer-list-top">
    <li id='help'>
      <h4 class="footer-list-header">Address</h4></li>
      <h6>Study Analytics
        #67, Jyoti Nivas College Road, 
        Kormangala 5 th Block, 
        Bengaluru 
        info@studyanalytics.in
        +91 08025502234</h6>
  </ul>
  <section class="footer-social-section flex-rw">
      <span class="footer-social-overlap footer-social-connect">
      CONNECT <span class="footer-social-small">with</span> US
      </span>
      <span class="footer-social-overlap footer-social-icons-wrapper">
      <a href="https://www.linkedin.com/company/study-analytics" class="generic-anchor" target="_blank" title="Linkedin" itemprop="significantLink"><i class="fa fa-linkedin"></i></a>
      <a href="https://www.facebook.com/StudyAnalytics" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/StudyAnalytics1" class="generic-anchor" target="_blank" title="Twitter" itemprop="significantLink"><i class="fa fa-twitter"></i></a>
      
      <a href="https://www.youtube.com/channel/UCfPP2pNTXsJvMjf-8vf3ciw" class="generic-anchor" target="_blank" title="Youtube" itemprop="significantLink"><i class="fa fa-youtube"></i></a>
      <a href="https://plus.google.com/u/0/102993231756933180762/about" class="generic-anchor" target="_blank" title="Google Plus" itemprop="significantLink"><i class="fa fa-google-plus"></i></a>
      </span>
  </section>
  <section class="footer-bottom-section flex-rw">
<div class="footer-bottom-wrapper">   
<i class="fa fa-copyright" role="copyright">
 
</i> 2018 Study Analytics <address class="footer-address" role="company address">Bangalore, IN</address><span class="footer-bottom-rights"> - All Rights Reserved - </span>
    </div>
    <div class="footer-bottom-wrapper">
    <a href="" class="generic-anchor" rel="nofollow">Terms</a> | <a href="" class="generic-anchor" rel="nofollow">Privacy</a>
      </div>
  </section>
</footer>