<div *ngIf="hider1">
    <div *ngIf="hider2">
    <div class="cardf" style="margin-left:36.6%;margin-top:0%;" >
        <div id="hid">
            <app-registration></app-registration>
        </div>
    </div> </div>
    
<div class='' style="
  width:90%;
  margin-left:-10%; margin-top:26%">
<div class="col-md-8 head-image-tile" style="margin-left:5%;margin-top:-32.5%">
        <h2>FETCH A JOB IN ANALYTICS</h2>
        
        <h4>The right course is the first best step towards Analytics Career</h4>
       
</div>     
  <div class='container'>
    <div class="course-body" style="margin-left: -4%;width: 120%;margin-top:15%">
        <div class="card1" style="margin-left: 0%;">
          <h2 >Industry Relationship</h2>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 card2" style="text-align: left;">
                    <ul class="list-group list-group-flush">
    
                        <li class="list-group-item" data-toggle="tooltip" data-placement="right" tooltip-title="Getting knowledge about A Domain is the first skill one should gain"><i class="fas fa-chalkboard-teacher fa-lg"></i> Domain Workshops!</li>
                        <li class="list-group-item" data-toggle="tooltip" data-placement="right" tooltip-title="What makes your resume different from others’?"><i class="fa fa-black-tie fa-lg"></i> Profile Building</li>
                        <li class="list-group-item" data-toggle="tooltip" data-placement="right" tooltip-title="We take equal responsibility with you in getting the best opportunities."><i class="fa fa-map-signs fa-lg"></i> Career Assistance</li>
                        <!-- <li class="list-group-item">Professional networking</li> -->
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 card2" style="margin-left: 8%;text-align: left;">
                    <ul class="list-group list-group-flush">
    
                        <li class="list-group-item" data-toggle="tooltip" data-placement="right" tooltip-title="Smart candidates fetch jobs through professional networks"><i class="fa fa-handshake-o fa-lg"></i> Professional networking</li>
                        <li class="list-group-item" data-toggle="tooltip" data-placement="right" tooltip-title="How smart are you to face the competition?"><i class="fa fa-diagnoses fa-lg"></i> Mock Interviews</li>
                        
                    </ul>
                </div>
                
            </div>
        </div>
      <!-- <div class="description">{{course.courseTemplate.courseHeaderContent}}</div> -->
    </div>
    <div class="course-body" style="margin-left: -4%;width: 120%;">
        <div class="card1" style="margin-left: -10%;">
          <h2 style="margin-left: 10%;">Faculty </h2>
            <div class="row" style="
            margin-left: 2%;">
                <div class="col-xs-6 col-sm-4 col-md-3 card2" style="margin-left: 6%;text-align: left;">
                    <ul class="list-group list-group-flush">
    
                        <li class="list-group-item" data-toggle="tooltip" data-placement="top" tooltip-title="We bring thoughts and requirements of Industry Leaders to the ground for our students."><i class="fas fa-people-carry fa-lg"></i> 20+ Years Experienced Mentors</li>
                        <li class="list-group-item" data-toggle="tooltip" data-placement="top" tooltip-title="The quality of the trainer is not only just high profile and certified but also the experience in helping students to climb the career ladder with proper knowledge transfer."><i class="fa fa-tasks fa-lg"></i> 5000+ Hrs of Training Experienced</li>
                        <li class="list-group-item" data-toggle="tooltip" data-placement="top" tooltip-title="Workshops by project leads of industry helps the candidates aware of the real industry scenarios and challenges."><i class="fa fa-male fa-lg"></i> Project Managers with Top MNC</li>
                        <!-- <li class="list-group-item">Professional networking</li> -->
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 card2" style="margin-left: 8%;text-align: left;">
                    <ul class="list-group list-group-flush">
    
                        <li class="list-group-item" data-toggle="tooltip" data-placement="top" tooltip-title="Global certification coaching like SAS Base Certification and Advanced SAS Certification are made easy by the experienced faculty who are advanced SAS certified."><i class="fa fa-people-carry fa-lg"></i> Advanced certified trainers</li>
                        <li class="list-group-item" data-toggle="tooltip" data-placement="top" tooltip-title="Trainers with Corporate training experience helps the candidates to prepare themselves to the industry standard."><i class="fa fa-slideshare fa-lg"></i> Top Skilled Corporate trainers</li>
                        <li class="list-group-item" data-toggle="tooltip" data-placement="top" tooltip-title="Full time availability of our dedicated faculty with corporate experience provides more support for your learning."><i class="fa  fa-lg"></i> In-House Full Time Faculty</li>
                        
                    </ul>
                </div>
                
            </div>
        </div>
      <!-- <div class="description">{{course.courseTemplate.courseHeaderContent}}</div> -->
    </div>
    <div class="course-body" style="margin-left: -4%;width: 120%;">
        <div class="card1" style="margin-left: -10%;">
          <h2 style="margin-left: 10%;">Pedagogy</h2>
            <div class="row" style="
            margin-left: 2%;">
                <div class="col-xs-6 col-sm-4 col-md-3 card2" style="margin-left: 6%;text-align: left;">
                    <ul class="list-group list-group-flush">
    
                        <li class="list-group-item" ><i class="fa  fa-lg"></i> Well-equipped Class rooms</li>
                        <li class="list-group-item" ><i class="fa fa-book-open fa-lg"></i> Books and learning material</li>
                        <li class="list-group-item" ><i class="fa fa-clipboard-list fa-lg"></i> In Class Assignments</li>
                        <li class="list-group-item" ><i class="fa fa-code fa-lg"></i> Capstone Projects</li>
                        
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 card2" style="margin-left: 8%;text-align: left;">
                    <ul class="list-group list-group-flush">
    
                        <li class="list-group-item" ><i class="fa fa-black-tie fa-1x"></i> Low Faculty – Student Ratio</li>
                        <li class="list-group-item" ><i class="fa fa-laptop-code fa-lg"></i> 100% Hands-On learning</li>
                        <li class="list-group-item" ><i class="fa fa-laptop fa-lg"></i> Case Studies</li>
                        <li class="list-group-item" ><i class="fa  fa-lg"></i> Global Certification Preparations</li>
                    </ul>
                </div>
                
            </div>
        </div>
      <!-- <div class="description">{{course.courseTemplate.courseHeaderContent}}</div> -->
    </div>
    <div class="course-body" style="margin-left: -4%;width: 120%;">
            <div class="card1" style="margin-left: -10%;">
              <h2 style="margin-left: 10%;">Certifications</h2>
                <h6 style="margin-left: 10%;">Global Certification Preparations (proven track of success in Global SAS Certifications)
                        Course completion certificates 
                        Internships for Freshers
                        </h6>
            </div>
          <!-- <div class="description">{{course.courseTemplate.courseHeaderContent}}</div> -->
        </div>
    <div *ngIf="isCourse">
    <div class="course-body" style="margin-left: -4%;width: 120%;">
        <div class="card1">
                <div class="container">
                    <h4>Boot Camp courses in Data Science.</h4>
            <div class="row">
                <div class="col-md-3" *ngFor="let card of bootCourse">
                    <app-course-card class="panals" [cardData]="card"></app-course-card>
                </div>
            </div>
            <hr>
            <h4>Skill Based Data Analytics courses.</h4>
                <div class="row">
                    <div class="col-md-3" *ngFor="let card of skillCourse">
                        <app-course-card class="panals" [cardData]="card"></app-course-card>
                    </div>
                </div>
                
            </div>
            </div>
        </div>
    </div>
    
    <!-- <div class="faq">FAQs: {{course.courseTemplate.courseFooter}}</div> -->
  </div>
</div>
</div>