<div>
    <div class="col-md-8 head-image-tile" style="margin-left:-10%">
    <h2>CARRER IN DATA SCIENCE?</h2>
    
    <h4>Let us help you build one.</h4>
   
    <h6>Instructor lead class room courses on data analytics | 100% free placement assistance |<br/> Global certification | Internship | Free Case studies | Course designed by top Industry Leads.</h6>
    <!-- <div class="card" style="margin-left:73%; margin-top:-10%;"></div> -->
</div>
    <div class="card" style="margin-top: 9%;">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4">
                <app-bar-graphs></app-bar-graphs>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4">
                <app-pie-charts></app-pie-charts>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4">
                <app-graphs></app-graphs>
            </div>
        </div>
    </div>
    <div class="card1" style="margin-left: -10%;">
        <div class="row" style="
        margin-left: 2%;">
            <div class="col-xs-6 col-sm-4 col-md-3 card2" style="margin-left: 2%;text-align: left;">
                <ul class="list-group list-group-flush">

                    <li class="list-group-item"><i class="fa fa-font-awesome"></i>Hands-On
                        Class</li>
                    <li class="list-group-item">Interactive Sessions</li>
                    <li class="list-group-item">Real Industry data</li>
                    <li class="list-group-item">Study material- Industry Standard
                        Books with data and Assignments</li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 card2" style="margin-left: 8%;text-align: left;">
                <ul class="list-group list-group-flush">

                    <li class="list-group-item"><i class="fa fa-font-awesome"></i>Backup
                        Classes</li>
                    <li class="list-group-item">Small Batches</li>
                    <li class="list-group-item">Peer Learning</li>
                    <li class="list-group-item">Pedagogy- Case study
                            based learning approach</li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 card2" style="
                margin-left: 8%;text-align: left;
            ">
                <ul class="list-group list-group-flush">

                    <li class="list-group-item"><i class="fa fa-font-awesome"></i>Life
                        time access</li>
                    <li class="list-group-item">Internship for freshers</li>
                    <li class="list-group-item">Placement assistance</li>
                    <li class="list-group-item">Live Project and state of art
                        facility</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card3" style="margin-left: -10%;">
        <div style="text-align:center" class="white-text2">Our Impact</div>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="white-text1">15+</div>
                <div class="white-text3">Courses</div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="white-text1">30+</div>
                <div class="white-text3">Companies Hiring</div>

            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="white-text1">1000+</div>
                <div class="white-text3">Students Enrolled</div>

            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="white-text1">800+</div>
                <div class="white-text3">Placements offered</div>

            </div>
        </div>
        <!-- <div class="row" style="border:5px solid yellow"><div class="col-md-12"><app-courses></app-courses></div></div> -->
    </div>
    <div class="card5" style="margin-left: -10%;">
        <h4 class="shadow-text">Boot Camp Courses</h4>
        <h6>Courses carefully prepared for a begineer focusing Analytics job opportunities in Industry as Data Analyst, Data Scientist and Business Analyst</h6>
        <div>
            <app-courses></app-courses>
        </div>
    </div>
    <div class="card5" style="margin-left: -10%;">
        <div>
            <app-carousel></app-carousel>
        </div>
    </div>
    <div class="card5" style="margin-left: -10%;">
            <div>
                <app-testimony></app-testimony>
            </div>
        </div>
         <div class="cardf" style="margin-left: -19.5%;width: 119.5%;">
                <div>
                    <app-registration-footer></app-registration-footer>
                </div>
            </div>
       <!--
            <div class="cardf" style="margin-left: -19.5%;width: 119.5%;">
                    <div>
                        <app-footer></app-footer>
                    </div>
                </div> -->
            
</div>