<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink=""><img src="/src/assets/logo5.png" alt="Study Analytics" height="52" width="62"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div style="margin-left: 77%">
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item active">
        <a class="nav-link" routerLink="data-science-courses-in-bangalore">Courses <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="data-science-courses-in-bangalore/contact-us">Contact</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
          <div class="row">
            <div class="col-md-4">
              <p><strong class="sub-menu-heading">All Courses</strong></p>
                <p><a href="#">Data Science</a></p>
                <p><a href="#">Big Data</a></p>
                <p><a href="#">Career lift courses</a></p>
                
                
            </div>
            <div class="col-md-4">
                <p><strong class="sub-menu-heading">Specialized Courses</strong></p>
                  <p><a [routerLink]="['/courses','Business']">Python</a></p>
                  <p><a href="#">MongoDB</a></p>
                  <p><a href="#">Excel</a></p>
                  <p><a href="#">R</a></p>
                  <p><a href="#">SAS</a></p>
                  <p><a href="#">SQL</a></p>
                  
              </div>
              <div class="col-md-4">
                  <p><strong class="sub-menu-heading">Foundation Courses</strong></p>
                    <p><a href="#">Business Analytics using R</a></p>
                    <p><a href="#">Business Analytics using SAS and R</a></p>
                    <p><a href="#">Data Analytics</a></p>
                    <p><a href="#">MIS Analytics</a></p>
                    
                    
                </div>


          </div>
          
        </div>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul></div>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>